@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    overflow:hidden;
    font-family: 'Ubuntu', sans-serif;
        /* pour suprimer le over flow en bas  */
}

.contener{
    border: 15px solid #9400D3;
    height: 60vh;
    width: 70vh;
    margin: 40em;
    margin-top: 50px;
    background-color: #4B0082;
    /* grid-template-columns: auto auto auto; */
}

.header{
    /* border: 5px solid rgb(86, 86, 190); */
    height: 7vh;
    width: 62vh;
    margin-top: 5px;
    margin-left: 40px;  
    background-color:#9400D3;
}
h1{
    margin-top: 15px;
    color: aliceblue;

}
h3{
    color: aliceblue;
}
 .premier{
    /* border: 2px solid rgb(86, 86, 190); */
    height: 7.5vh;
    width: 62vh;
    margin-top: 5px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.second{
   /*  border: 2px solid rgb(86, 86, 190); */
    height: 8vh;
    width: 62vh;
    margin-top: 5px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 

}
.trois{
   /*  border: 2px solid rgb(86, 86, 190); */
    height: 8vh;
    width: 62vh;
    margin-top: 5px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.quatre{
   /*  border: 2px solid rgb(86, 86, 190); */
    height: 8vh;
    width: 62vh;
    margin-top: 5px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.cinq{
   /*  border: 2px solid rgb(86, 86, 190); */
    height: 6vh;
    width: 62vh;
    margin-top: 5px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.footer{
   /*  border: 5px solid rgb(86, 86, 190); */
    height: 5vh;
    width: 62vh;
    margin-top: 5px;
    margin-left: 40px;  
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#generateButton{
cursor: pointer;
width: 50%;
height: 80%;
}
